.title.has-text-centered {
    font-family: 'Montserrat', sans-serif;
    font-size: 970%;
}

.subtitle.has-text-centered {
    font-family: 'Montserrat', sans-serif;
    font-size: 250%;
}

.titleImage{
    text-align: center;
    max-width: 100%;
}